<div id="homepage" class="vw-100 vh-100 d-flex flex-column justify-content-center align-items-center" v-cloak>
<h1>Cross River</h1>
<div class="fst-italic">photography by Casey McSpadden</div>
<div class="fst-italic">coming soon</div>  
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
